@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Six+Caps&family=Titillium+Web:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background: #f1ede1;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden !important;
  max-width: 100vw;
  color: white !important;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	50% {
		opacity: 0.5;
		transform: translate3d(-50%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0% 0, 0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	50% {
		opacity: 0.5;
		transform: translate3d(50%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0% 0, 0);
	}
}
nav,
section.section {
  padding: 0 10vw;
  animation: fadeInUp 0.5s ease-in;
}
h1.hero {
	animation: fadeInLeft 0.75s ease-in;
}
img.heroImage {
	animation: fadeInRight 0.75s ease-in;
	-webkit-mask-image:linear-gradient(to bottom, rgba(255,255,255,1)75%, rgba(255,255,255,0) 95%);
	
}
video.heroVideo {
	-webkit-mask-image:linear-gradient(to bottom, rgba(255,255,255,1)50%, rgba(255,255,255,0) 100%);
	opacity: 65%;
	padding:0;
	margin:0;
	width:100vw;
	position:absolute;
}
canvas {
  z-index: -1;
  position: absolute;
  overflow: hidden;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
p,
label,
span,
a,
li,
button {
  font-family: "Mulish Family", sans-serif;
  font-weight: 300;
}
h1 {
  font-family: "Six Caps", sans-serif;
  font-size: 45px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-sans bg-white;
  }
  html :where(a) {
    @apply text-slate hover:text-slate-800;
  }
  html :where(a.text-slate) {
    @apply  text-slate-600 hover:text-slate-900  ;
  }
  html :where(a.text-secondary) {
    @apply  text-secondary-600 hover:text-secondary-900  ;
  }
  html :where(a.text-tertiary) {
    @apply  text-tertiary-600 hover:text-tertiary-900  ;
  }
  html :where(a.text-neutral) {
    @apply  text-neutral-600 hover:text-neutral-900  ;
  }
  html :where(a.text-success) {
    @apply  text-success-600 hover:text-success-900 focus:text-success-1000;
  }
  html :where(a.text-info) {
    @apply  text-info-600 hover:text-info-900 focus:text-info-1000;
  }
  html :where(a.text-warning) {
    @apply  text-warning-600 hover:text-warning-900 focus:text-warning-1000;
  }
  html :where(a.text-danger) {
    @apply  text-danger-600 hover:text-danger-900 focus:text-danger-1000;
  }
  html :where(a.text-light) {
    @apply  text-gray-100 hover:text-gray-300 focus:text-gray-400;
  }
  html :where(a.text-dark) {
    @apply hover:text-gray-600;
  }
  html :where(a.text-white) {
    @apply hover:text-gray-300;
  }
  h1, h2, h3, h4, h5, p {
    @apply mb-3;
  }
  h1, .h1 {
    @apply text-[calc(1.375rem+1.5vw)] xl:text-5xl;
  }
  h2, .h2 {
    @apply text-[calc(1.325rem+0.9vw)] xl:text-4xl;
  }
  h3, .h3 {
    @apply text-[calc(1.3rem+0.6vw)] xl:text-3xl;
  }
  h4, .h4 {
    @apply text-[calc(1.275rem+0.3vw)] xl:text-2xl;
  }
  h5, .h5 {
    @apply text-xl;
  }
  .display-1 {
    @apply text-[calc(1.625rem+4.5vw)] lg:text-[5rem] leading-[1.2] font-light;
  }
  .display-2 {
    @apply text-[calc(1.575rem+3.9vw)] lg:text-[4.5rem] leading-[1.2] font-light;
  }
  .display-3 {
    @apply text-[calc(1.525rem+3.3vw)] lg:text-[4rem] leading-[1.2] font-light;
  }
  .display-4 {
    @apply text-[calc(1.475rem+2.7vw)] lg:text-[3.5rem] leading-[1.2] font-light;
  }
  .display-5 {
    @apply text-[calc(1.425rem+2.1vw)] lg:text-[3rem] leading-[1.2] font-light;
  }
  .display-6 {
    @apply text-[calc(1.375rem+1.6vw)] lg:text-[2.5rem] leading-[1.2] font-light;
  }
  .blockquote {
    @apply text-xl italic font-semibold text-neutral-900;
  }
  .blockquote-slate {
    @apply  p-4 bg-slate-50 border-l-[4px]  border-slate-600;
  }
  .blockquote-secondary {
    @apply  p-4 bg-secondary-50 border-l-[4px]  border-secondary-600;
  }
  .blockquote-tertiary {
    @apply  p-4 bg-tertiary-50 border-l-[4px]  border-tertiary-600;
  }
  .blockquote-neutral {
    @apply  p-4 bg-neutral-50 border-l-[4px]  border-neutral-600;
  }
  .blockquote-success {
    @apply  p-4 bg-success-50 border-l-[4px]  border-success-600;
  }
  .blockquote-info {
    @apply  p-4 bg-info-50 border-l-[4px]  border-info-600;
  }
  .blockquote-warning {
    @apply  p-4 bg-warning-50 border-l-[4px]  border-warning-600;
  }
  .blockquote-danger {
    @apply  p-4 bg-danger-50 border-l-[4px]  border-danger-600;
  }
  .blockquote-light {
    @apply  p-4 bg-gray-50 border-l-[4px]  border-gray-100;
  }
  .blockquote-dark {
    @apply  p-4 border-l-[4px]  border-black;
  }
  .blockquote-white {
    @apply  p-4 border-l-[4px]  border-white;
  }
  .blockquote-black {
    @apply  p-4 border-l-[4px]  border-black;
  }
  .blockquote-muted {
    @apply  p-4 border-l-[4px]  border-gray-700;
  }
  .accordion-item {
    @apply flex flex-col bg-white rounded-lg p-4 mb-3;
  }
  .accordion-header {
    @apply flex items-center text-left text-xl w-full cursor-pointer font-semibold text-dark hover:text-slate-700 transition-all duration-300 after:transition after:duration-300 after:flex-shrink-0 after:w-5 after:h-5 after:ml-auto after:content-[''] after:[mask:var(--svg-arrow-down)_no-repeat_50%_50%] after:[mask-size:cover] after:bg-current;
  }
  .accordion-header[aria-expanded="true"] {
    @apply text-slate hover:text-slate-700 after:rotate-180;
  }
  .accordion-collapse {
    @apply transition-all duration-300;
  }
  .accordion-body {
    @apply py-3;
  }
  .alert {
    @apply flex flex-row rounded-md px-3 py-2 text-gray-700 bg-gray-100 transition-opacity duration-300;
  }
  .badge {
    @apply inline-block px-2 py-0.5 rounded text-xs text-white font-semibold;
  }
  .badge-lg {
    @apply px-3 py-1 rounded text-sm text-white font-semibold;
  }
  .btn {
    @apply inline-flex flex-wrap items-center justify-center text-center cursor-pointer select-none transition duration-200 ease-in-out flex-shrink-0 font-semibold py-2 px-4 rounded-md disabled:opacity-80 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-opacity-50 hover:no-underline border-0;
  }
  .btn-ani {
    @apply transform-all hover:-translate-y-0.5 duration-300 ease;
  }
  .btn-outline.btn-slate {
    @apply  bg-transparent text-slate-600 hover:bg-slate-900 focus:bg-slate-900 focus:text-white hover:text-white border-slate-600 border focus:ring-slate-900;
  }
  .btn-outline.btn-secondary {
    @apply  bg-transparent text-secondary-600 hover:bg-secondary-900 focus:bg-secondary-900 focus:text-white hover:text-white border-secondary-600 border focus:ring-secondary-900;
  }
  .btn-outline.btn-tertiary {
    @apply  bg-transparent text-tertiary-600 hover:bg-tertiary-900 focus:bg-tertiary-900 focus:text-white hover:text-white border-tertiary-600 border focus:ring-tertiary-900;
  }
  .btn-outline.btn-neutral {
    @apply  bg-transparent text-neutral-600 hover:bg-neutral-900 focus:bg-neutral-900 focus:text-white hover:text-white border-neutral-600 border focus:ring-neutral-900;
  }
  .btn-outline.btn-success {
    @apply  bg-transparent text-success-600 hover:bg-success-900 focus:bg-success-900 focus:text-white hover:text-white border-success-600 border focus:ring-success-900;
  }
  .btn-outline.btn-info {
    @apply  bg-transparent text-info-600 hover:bg-info-900 focus:bg-info-900 focus:text-white hover:text-white border-info-600 border focus:ring-info-900;
  }
  .btn-outline.btn-warning {
    @apply  bg-transparent text-warning-600 hover:bg-warning-900 focus:bg-warning-900 focus:text-white hover:text-white border-warning-600 border focus:ring-warning-900;
  }
  .btn-outline.btn-danger {
    @apply  bg-transparent text-danger-600 hover:bg-danger-900 focus:bg-danger-900 focus:text-white hover:text-white border-danger-600 border focus:ring-danger-900;
  }
  .btn-outline.btn-light {
    @apply  bg-transparent text-gray-100 hover:bg-gray-200 focus:bg-gray-300 focus:text-white hover:text-white border-gray-100 border focus:ring-gray-300;
  }
  .btn-outline.btn-dark {
    @apply  bg-transparent text-black hover:bg-gray-900 focus:bg-gray-800 focus:text-white hover:text-white border-black border focus:ring-gray-800;
  }
  .btn-outline.btn-white {
    @apply  bg-transparent text-white focus:text-white hover:text-white border-white border;
  }
  .btn-outline.btn-black {
    @apply  bg-transparent text-black focus:text-white hover:text-white border-black border;
  }
  .btn-outline.btn-muted {
    @apply  bg-transparent text-gray-700 focus:text-white hover:text-white border-gray-700 border;
  }
  .btn-subtle.btn-slate {
    @apply  bg-transparent bg-slate-100 hover:bg-slate-200 hover:text-slate-900 focus:bg-slate-300 text-slate-600 border-0 focus:ring-slate-900;
  }
  .btn-subtle.btn-secondary {
    @apply  bg-transparent bg-secondary-100 hover:bg-secondary-200 hover:text-secondary-900 focus:bg-secondary-300 text-secondary-600 border-0 focus:ring-secondary-900;
  }
  .btn-subtle.btn-tertiary {
    @apply  bg-transparent bg-tertiary-100 hover:bg-tertiary-200 hover:text-tertiary-900 focus:bg-tertiary-300 text-tertiary-600 border-0 focus:ring-tertiary-900;
  }
  .btn-subtle.btn-neutral {
    @apply  bg-transparent bg-neutral-100 hover:bg-neutral-200 hover:text-neutral-900 focus:bg-neutral-300 text-neutral-600 border-0 focus:ring-neutral-900;
  }
  .btn-subtle.btn-success {
    @apply  bg-transparent bg-success-100 hover:bg-success-200 hover:text-success-900 focus:bg-success-300 text-success-600 border-0 focus:ring-success-900;
  }
  .btn-subtle.btn-info {
    @apply  bg-transparent bg-info-100 hover:bg-info-200 hover:text-info-900 focus:bg-info-300 text-info-600 border-0 focus:ring-info-900;
  }
  .btn-subtle.btn-warning {
    @apply  bg-transparent bg-warning-100 hover:bg-warning-200 hover:text-warning-900 focus:bg-warning-300 text-warning-600 border-0 focus:ring-warning-900;
  }
  .btn-subtle.btn-danger {
    @apply  bg-transparent bg-danger-100 hover:bg-danger-200 hover:text-danger-900 focus:bg-danger-300 text-danger-600 border-0 focus:ring-danger-900;
  }
  .btn-subtle.btn-light {
    @apply  bg-transparent bg-gray-100 hover:bg-gray-200 hover:text-gray-200 focus:bg-gray-300 text-gray-100 border-0 focus:ring-gray-300;
  }
  .btn-subtle.btn-dark {
    @apply  bg-transparent bg-gray-100 hover:bg-gray-200 hover:text-gray-900 focus:bg-gray-300 text-black border-0 focus:ring-gray-800;
  }
  .btn-subtle.btn-white {
    @apply  bg-transparent text-white border-0;
  }
  .btn-subtle.btn-black {
    @apply  bg-transparent text-black border-0;
  }
  .btn-subtle.btn-muted {
    @apply  bg-transparent text-gray-700 border-0;
  }
  .btn-link.btn-slate {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-slate-600 hover:text-slate-900   border-0 hover:underline focus:ring-slate-900;
  }
  .btn-link.btn-secondary {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-secondary-600 hover:text-secondary-900   border-0 hover:underline focus:ring-secondary-900;
  }
  .btn-link.btn-tertiary {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-tertiary-600 hover:text-tertiary-900   border-0 hover:underline focus:ring-tertiary-900;
  }
  .btn-link.btn-neutral {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-neutral-600 hover:text-neutral-900   border-0 hover:underline focus:ring-neutral-900;
  }
  .btn-link.btn-success {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-success-600 hover:text-success-900 focus:text-success-1000 border-0 hover:underline focus:ring-success-900;
  }
  .btn-link.btn-info {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-info-600 hover:text-info-900 focus:text-info-1000 border-0 hover:underline focus:ring-info-900;
  }
  .btn-link.btn-warning {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-warning-600 hover:text-warning-900 focus:text-warning-1000 border-0 hover:underline focus:ring-warning-900;
  }
  .btn-link.btn-danger {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-danger-600 hover:text-danger-900 focus:text-danger-1000 border-0 hover:underline focus:ring-danger-900;
  }
  .btn-link.btn-light {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-gray-100 hover:text-gray-300 focus:text-gray-400 border-0 hover:underline focus:ring-gray-300;
  }
  .btn-link.btn-dark {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent text-gray-800 hover:text-gray-900 focus:text-gray-1000 border-0 hover:underline focus:ring-gray-800;
  }
  .btn-link.btn-white {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent border-0 hover:underline;
  }
  .btn-link.btn-black {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent border-0 hover:underline;
  }
  .btn-link.btn-muted {
    @apply  bg-transparent hover:bg-transparent focus:bg-transparent border-transparent border-0 hover:underline;
  }
  .btn-ghost.btn-slate {
    @apply  bg-transparent hover:bg-slate-100 hover:text-slate-900 focus:bg-slate-200 text-slate-600 border-0 focus:ring-slate-900;
  }
  .btn-ghost.btn-secondary {
    @apply  bg-transparent hover:bg-secondary-100 hover:text-secondary-900 focus:bg-secondary-200 text-secondary-600 border-0 focus:ring-secondary-900;
  }
  .btn-ghost.btn-tertiary {
    @apply  bg-transparent hover:bg-tertiary-100 hover:text-tertiary-900 focus:bg-tertiary-200 text-tertiary-600 border-0 focus:ring-tertiary-900;
  }
  .btn-ghost.btn-neutral {
    @apply  bg-transparent hover:bg-neutral-100 hover:text-neutral-900 focus:bg-neutral-200 text-neutral-600 border-0 focus:ring-neutral-900;
  }
  .btn-ghost.btn-success {
    @apply  bg-transparent hover:bg-success-100 hover:text-success-900 focus:bg-success-200 text-success-600 border-0 focus:ring-success-900;
  }
  .btn-ghost.btn-info {
    @apply  bg-transparent hover:bg-info-100 hover:text-info-900 focus:bg-info-200 text-info-600 border-0 focus:ring-info-900;
  }
  .btn-ghost.btn-warning {
    @apply  bg-transparent hover:bg-warning-100 hover:text-warning-900 focus:bg-warning-200 text-warning-600 border-0 focus:ring-warning-900;
  }
  .btn-ghost.btn-danger {
    @apply  bg-transparent hover:bg-danger-100 hover:text-danger-900 focus:bg-danger-200 text-danger-600 border-0 focus:ring-danger-900;
  }
  .btn-ghost.btn-light {
    @apply  bg-transparent hover:bg-gray-100 hover:text-gray-200 focus:bg-gray-200 text-gray-100 border-0 focus:ring-gray-300;
  }
  .btn-ghost.btn-dark {
    @apply  bg-transparent hover:bg-pink-200 hover:text-gray-800 text-black border-0 focus:ring-gray-800;
  }
  .btn-ghost.btn-white {
    @apply  bg-transparent text-white border-0;
  }
  .btn-ghost.btn-black {
    @apply  bg-transparent text-black border-0;
  }
  .btn-ghost.btn-muted {
    @apply  bg-transparent text-gray-700 border-0;
  }
  .btn-ghost.btn-light:not(.c) {
    @apply text-gray-900;
  }
  .btn-xs, .btn-group-xs>.btn {
    @apply py-1 px-1 text-xs;
  }
  .btn-sm, .btn-group-sm>.btn {
    @apply py-1 px-2 text-sm;
  }
  .btn-lg, .btn-group-lg>.btn {
    @apply py-3 px-5 text-lg;
  }
  .btn-xl, .btn-group-xl>.btn {
    @apply py-4 px-6 text-xl;
  }
  .btn-group {
    @apply inline-flex;
  }
  .btn-group .btn {
    @apply rounded-none first:rounded-l-md last:rounded-r-md;
  }
  .btn-group > .btn-outline:not(:first-child) {
    @apply border-l-0 border-r-[1px];
  }
  .pagination > .btn {
    @apply px-3 py-1;
  }
  .btn-outline.btn-slate[aria-current="page"] {
    @apply  bg-slate-600 text-white;
  }
  .btn-outline.btn-secondary[aria-current="page"] {
    @apply  bg-secondary-600 text-white;
  }
  .btn-outline.btn-tertiary[aria-current="page"] {
    @apply  bg-tertiary-600 text-white;
  }
  .btn-outline.btn-neutral[aria-current="page"] {
    @apply  bg-neutral-600 text-white;
  }
  .btn-outline.btn-success[aria-current="page"] {
    @apply  bg-success-600 text-white;
  }
  .btn-outline.btn-info[aria-current="page"] {
    @apply  bg-info-600 text-white;
  }
  .btn-outline.btn-warning[aria-current="page"] {
    @apply  bg-warning-600 text-white;
  }
  .btn-outline.btn-danger[aria-current="page"] {
    @apply  bg-danger-600 text-white;
  }
  .btn-outline.btn-light[aria-current="page"] {
    @apply  bg-gray-100 text-black;
  }
  .btn-outline.btn-dark[aria-current="page"] {
    @apply  bg-black text-white;
  }
  .btn-outline.btn-white[aria-current="page"] {
    @apply  bg-white text-black;
  }
  .btn-outline.btn-black[aria-current="page"] {
    @apply  bg-black text-white;
  }
  .btn-outline.btn-muted[aria-current="page"] {
    @apply  bg-gray-700;
  }
  .btn-ghost.btn-slate[aria-current="page"] {
    @apply  hover:text-slate-900 bg-slate-100 text-slate-600;
  }
  .btn-ghost.btn-secondary[aria-current="page"] {
    @apply  hover:text-secondary-900 bg-secondary-100 text-secondary-600;
  }
  .btn-ghost.btn-tertiary[aria-current="page"] {
    @apply  hover:text-tertiary-900 bg-tertiary-100 text-tertiary-600;
  }
  .btn-ghost.btn-neutral[aria-current="page"] {
    @apply  hover:text-neutral-900 bg-neutral-100 text-neutral-600;
  }
  .btn-ghost.btn-success[aria-current="page"] {
    @apply  hover:text-success-900 bg-success-100 text-success-600;
  }
  .btn-ghost.btn-info[aria-current="page"] {
    @apply  hover:text-info-900 bg-info-100 text-info-600;
  }
  .btn-ghost.btn-warning[aria-current="page"] {
    @apply  hover:text-warning-900 bg-warning-100 text-warning-600;
  }
  .btn-ghost.btn-danger[aria-current="page"] {
    @apply  hover:text-danger-900 bg-danger-100 text-danger-600;
  }
  .btn-ghost.btn-light[aria-current="page"] {
    @apply  hover:text-gray-200 bg-gray-100 text-gray-100;
  }
  .btn-ghost.btn-dark[aria-current="page"] {
    @apply  hover:text-gray-800 bg-pink-200 text-black;
  }
  .btn-ghost.btn-white[aria-current="page"] {
    @apply  text-white;
  }
  .btn-ghost.btn-black[aria-current="page"] {
    @apply  text-black;
  }
  .btn-ghost.btn-muted[aria-current="page"] {
    @apply  text-gray-700;
  }
  .modal {
    @apply fixed left-0 top-0 w-screen h-screen overflow-auto z-50 transition-opacity duration-500 opacity-0;
  }
  .modal-bg {
    @apply fixed w-screen h-screen left-0 top-0 z-30 pt-16 bg-gray-900 overflow-auto transition-opacity duration-500 opacity-50;
  }
  .modal-lg {
    @apply max-w-screen-md;
  }
  .modal-sm {
    @apply max-w-sm;
  }
  .modal-xl {
    @apply max-w-screen-xl;
  }
  .disabled {
    @apply opacity-80 pointer-events-none;
  }
  .form-checkbox {
    @apply rounded border-slate-300 text-slate-600 shadow-sm focus:border-slate-300 focus:ring focus:ring-offset-0 focus:ring-slate-200 focus:ring-opacity-50;
  }
  .form-checkbox[type="checkbox"] {
    @apply rounded;
  }
  .form-radio[type="radio"] {
    @apply text-slate-600 ring-offset-2 focus:ring-2 focus:ring-slate-300;
  }
  .form-input {
    @apply block mt-0 w-full rounded-md border-gray-300 shadow-sm focus:border-slate-300 focus:ring focus:ring-slate-200 focus:ring-opacity-50;
  }
  .form-select {
    @apply block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-slate-300 focus:ring focus:ring-slate-200 focus:ring-opacity-50;
  }
  .form-input-sm {
    @apply px-2 py-1 text-sm;
  }
  .form-input-lg {
    @apply px-4 py-2 text-lg;
  }
  .form-select-sm {
    @apply pl-2 py-1 text-sm;
  }
  .form-select-lg {
    @apply pl-4 py-2 text-lg;
  }
  .navbar {
    @apply z-20 py-3 relative;
  }
  .navbar > .container-fluid, .navbar > .container {
    @apply flex flex-wrap justify-between md:flex-nowrap px-3 md:px-5;
  }
  .navbar-dark .navbar-btn {
    @apply focus:ring-white;
  }
  .navbar-btn {
    @apply w-6 mr-5 cursor-pointer select-none rounded md:hidden;
  }
  .navbar-brand {
    @apply flex flex-row items-center space-x-3 ml-5 md:ml-0 text-slate font-bold text-xl;
  }
  .navbar-col {
    @apply flex flex-col items-center mt-3 space-y-4 md:flex-row md:space-x-4 md:space-y-0 md:mt-0;
  }
  .navbar-row {
    @apply hidden w-screen items-center md:flex md:flex-grow md:justify-between md:w-auto md:ml-4 transition-all transform duration-300 opacity-0 h-0 md:h-auto md:opacity-100 !md:h-auto md:overflow-visible;
  }
  .navbar-row.show {
    @apply opacity-100;
  }
  .dropdown-menu {
    @apply absolute hidden transition duration-200 opacity-0 w-max py-2 bg-white border border-gray-300 rounded mt-2 min-w-[160px] z-[1];
  }
  .dropdown-item {
    @apply bg-transparent py-1.5 px-4 hover:text-slate-800 focus:text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-none focus:shadow-outline;
  }
  .dropdown-menu.show {
    @apply opacity-100 block;
  }
  [data-toggle="dropdown"] {
    @apply flex ml-4 items-center gap-x-1 after:flex-shrink-0 after:w-4 after:h-4 after:[mask:var(--svg-caret-down)_no-repeat_50%_50%] after:[mask-size:cover] after:content-[''] after:bg-current;
  }
  [data-popper-arrow]::before {
    @apply content-[''] rotate-[45deg] absolute h-4 w-4 bg-white border-l border-t border-gray-300 rounded-tl;
  }
  [data-popper-placement^='top'] > [data-popper-arrow] {
    @apply -bottom-2;
  }
  [data-popper-placement^='bottom'] > [data-popper-arrow] {
    @apply -top-2;
  }
  [data-popper-placement^='left'] > [data-popper-arrow] {
    @apply -right-2;
  }
  [data-popper-placement^='right'] > [data-popper-arrow] {
    @apply -left-2;
  }
  .row {
    @apply flex flex-wrap flex-row -mx-5;
  }
  .col {
    @apply relative w-full px-5;
  }
  .progress {
    @apply flex w-full overflow-hidden bg-gray-200 rounded-full h-2.5;
  }
  .progress-bar {
    @apply h-full;
  }
  .progress-sm {
    @apply h-1.5;
  }
  .progress-lg {
    @apply h-4;
  }
  .progress-xl {
    @apply h-6;
  }
  .card {
    @apply relative flex flex-col overflow-hidden shadow-md rounded-md bg-white;
  }
  .card-body {
    @apply p-5 flex-grow;
  }
  .card-header {
    @apply px-5 py-3 bg-gray-100;
  }
  .card-footer {
    @apply px-5 py-3 bg-gray-100;
  }
  .tab-list {
    @apply flex flex-wrap gap-x-2 mb-2 select-none;
  }
  .tab-content {
    @apply py-2;
  }
  .tab {
    @apply px-4 py-2 border-b-2 hover:text-slate ring-0 focus:outline-none;
  }
  .tab[aria-selected="true"] {
    @apply border-slate text-slate;
  }
  .tab-list-underline {
    @apply border-b-2 border-gray-300;
  }
  .tab-underline {
    @apply px-3 py-2 text-muted hover:text-slate focus:outline-none;
  }
  .tab-underline[aria-selected="true"] {
    @apply -mb-1 border-0 border-b-2 border-slate text-slate;
  }
  .table {
    @apply min-w-full;
  }
  html :where(.table>thead) {
    @apply bg-gray-50;
  }
  html :where(.table>thead>tr>th) {
    @apply py-3 px-4 text-xs font-semibold text-left text-gray-700;
  }
  .table>tbody>tr {
    @apply bg-white border-b;
  }
  html :where(.table>tbody>tr>td) {
    @apply py-3 px-4 text-sm text-gray-900;
  }
  .table-sm>thead>tr>th {
    @apply py-1;
  }
  .table-sm>tbody>tr>td {
    @apply py-1;
  }
  .table-striped>thead>tr {
    @apply bg-gray-50 border-b border-gray-300;
  }
  .table-striped>tbody>tr {
    @apply even:bg-gray-100;
  }
  .table-hover>tbody>tr {
    @apply hover:bg-gray-200;
  }
  .prose > blockquote {
    @apply border-l-4 border-gray-600 my-3 py-3 pl-4 text-xl -ml-5;
  }
  .prose a {
    @apply text-slate hover:text-slate-700;
  }
  .prose ul ul {
    @apply list-disc;
  }
  .prose ul ul ul {
    @apply list-[square];
  }
  .prose h4 {
    @apply text-lg;
  }
  .fa-ul {
    @apply ml-6;
  }
  .tooltip {
    @apply hidden absolute invisible top-0 left-0 bg-dark text-white font-normal py-2 px-3 rounded-lg shadow-sm text-sm pointer-events-none opacity-0 transition-opacity duration-300;
  }
  .tooltip-arrow {
    @apply absolute bg-dark w-2 h-2 rotate-45;
  }
  html :where(.modal-content) {
    @apply relative m-auto mt-16 bg-gray-100 shadow-lg z-40 max-w-md;
  }
  html :where(.taos-init) {
    @apply duration-[400ms];
  }
  .container {
    @apply w-full max-w-full lg:max-w-[calc(min(100vw-60px,1220px))] mx-auto px-5;
  }
  .container-fluid {
    @apply w-full max-w-full mx-auto px-5;
  }
  .alert-slate {
    @apply  text-slate-600 bg-slate-50;
  }
  .alert-secondary {
    @apply  text-secondary-600 bg-secondary-50;
  }
  .alert-tertiary {
    @apply  text-tertiary-600 bg-tertiary-50;
  }
  .alert-neutral {
    @apply  text-neutral-600 bg-neutral-50;
  }
  .alert-success {
    @apply  text-success-600 bg-success-50;
  }
  .alert-info {
    @apply  text-info-600 bg-info-50;
  }
  .alert-warning {
    @apply  text-warning-600 bg-warning-50;
  }
  .alert-danger {
    @apply  text-danger-600 bg-danger-50;
  }
  .alert-light {
    @apply  text-gray-600 bg-gray-50;
  }
  .btn-slate {
    @apply  bg-slate-600 hover:bg-slate-900 hover:text-white focus:bg-slate-900 text-white border-slate-600 hover:border-slate-900 ring-slate-600 focus:ring-slate-900;
  }
  .btn-secondary {
    @apply  bg-secondary-600 hover:bg-secondary-900 hover:text-white focus:bg-secondary-900 text-white border-secondary-600 hover:border-secondary-900 ring-secondary-600 focus:ring-secondary-900;
  }
  .btn-tertiary {
    @apply  bg-tertiary-600 hover:bg-tertiary-900 hover:text-white focus:bg-tertiary-900 text-white border-tertiary-600 hover:border-tertiary-900 ring-tertiary-600 focus:ring-tertiary-900;
  }
  .btn-neutral {
    @apply  bg-neutral-600 hover:bg-neutral-900 hover:text-white focus:bg-neutral-900 text-white border-neutral-600 hover:border-neutral-900 ring-neutral-600 focus:ring-neutral-900;
  }
  .btn-success {
    @apply  bg-success-600 hover:bg-success-900 hover:text-white focus:bg-success-900 text-white border-success-600 hover:border-success-900 ring-success-600 focus:ring-success-900;
  }
  .btn-info {
    @apply  bg-info-600 hover:bg-info-900 hover:text-white focus:bg-info-900 text-white border-info-600 hover:border-info-900 ring-info-600 focus:ring-info-900;
  }
  .btn-warning {
    @apply  bg-warning-600 hover:bg-warning-900 hover:text-white focus:bg-warning-900 text-white border-warning-600 hover:border-warning-900 ring-warning-600 focus:ring-warning-900;
  }
  .btn-danger {
    @apply  bg-danger-600 hover:bg-danger-900 hover:text-white focus:bg-danger-900 text-white border-danger-600 hover:border-danger-900 ring-danger-600 focus:ring-danger-900;
  }
  .btn-light {
    @apply  bg-gray-100 hover:bg-gray-200 hover:text-black focus:bg-gray-300 text-black border-gray-100 hover:border-gray-200 ring-gray-100 focus:ring-gray-300;
  }
  .btn-dark {
    @apply  bg-black hover:bg-gray-900 hover:text-white focus:bg-gray-800 text-white border-black hover:border-gray-900 ring-black focus:ring-gray-800;
  }
  .btn-white {
    @apply  bg-white text-black border-white ring-white;
  }
  .btn-black {
    @apply  bg-black text-white border-black ring-black;
  }
  .btn-muted {
    @apply  bg-gray-700 border-gray-700 ring-gray-700;
  }

}