@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(230deg, #fdfbfb, #ebedee);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  max-width: 100vw;
  
  color: white !important;

}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate3d(0, 50%, 0);
  }
100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

section.section {
  padding: 0;
  animation: fadeInUp 0.5s ease-in;
}
canvas {
  z-index: -1;
  position: absolute;
  overflow:hidden;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

